button {
  border: solid 1px black;
  background-color: white;
  width: 100px;
  height: 40px;
  font-size: 1rem;

  color: black;
}

button:hover {
  border: solid 1px red;
}

@media (max-width: 768px) {
  button {
  }
}
